.clearfix
  &::after
    clear: both
    content: ''
.q-list
  padding: 0 32px
  .sidebar
    &--header
      padding-bottom: 0 !important
      margin-bottom: 80px
    &--logo
      margin: 50px 0 20px 0
      a
        display: inline-block
        line-height: 1
      img
        width: 125px
        height: 35px
    &--slogan
      font-size: 15px
      line-height: 20px
      color: #fff
      opacity: .3
      margin-bottom: 0
    &--item
      padding: 0 16px
      font-size: 16px
      line-height: 32px
      margin-bottom: 28px
      transition: all .3s
      &:hover
        cursor: pointer
        color: $primary
        opacity: .7
        font-weight: 700
      &.item--active
        color: $primary
        font-weight: 700
      &:last-child
        margin-bottom: 0
      .q-item__section--thumbnail
        margin-left: 0 !important
        img
          width: auto
          height: 24px

.wrapper
  padding: 85px 60px

.content__top
  &--price
    position: relative
    padding-left: 52px
    .price--label
      position: absolute
      left: 0
      top: 0
      margin-top: -25px
      font-size: 14px
      color: $colorTxtLabel
    .price--symbol
      border-radius: 4px
      width: 40px
      font-size: 13px
      line-height: 24px
      font-weight: 700
      color: #fff
      background: $primary
      text-align: center
      position: absolute
      left: 0
      top: 50%
      margin-top: -12px
    strong
      font-size: 26px
      color: $colorTxtLabel

.btn
  &--new_card
    background: rgba(50, 91, 175, 1)
    span
      font-size: 13px
      font-weight: 700
      text-transform: none

.tab__header
  margin-bottom: 15px
  .q-tab--active .q-tab__label
    color: #000
  .fixed-bottom, .absolute-bottom
    bottom: 7px
    background: rgba(35, 206, 253, 1)
  .q-tab
    padding: 0
    margin-right: 32px
    .q-tab__label
      text-transform: none

.my_debit_cards
  &--wrapper
    padding: 44px 32px